{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet"
          href="{% static 'inform_sys_selective_subjects/../../static/inform_sys_selective_subjects/css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">ІС “Вибіркові дисципліни”</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active mr-4">
                    <a class="nav-link" href="{% url 'uni_subjects_list' %}">Університетський вибірковий каталог <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active mr-4">
                    <a class="nav-link" href="{% url 'faculty_list' %}">Факультетський вибірковий каталог <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav pull-right mr-auto">
                    <li class="nav-item mr-4">
                        <a href="{% url 'profile' %}" class="btn btn-outline-primary">Профіль</a>
                    </li>
                    <li class="nav-item active mr-4">
                        <a href="{% url 'logout' %}" class="btn btn-outline-primary">Вийти</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav pull-right mr-auto">
                    <li class="nav-item mr-4">
                        <a href="{% url 'login' %}" class="btn btn-outline-primary">Увійти</a>
                    </li>
                    <li class="nav-item active mr-4">
                        <a href="{% url 'register' %}" class="btn btn-outline-primary">Зареєструватися</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>
{% block content %}{% endblock content %}
</body>
</html>