{% extends 'inform_sys_selective_subjects/base.html' %}
{% load static %}
<head>
    {% block title %}Реєстрація{% endblock title %}
    {% block content %}
        <meta charset="UTF-8">
        <link rel="stylesheet"
              href="{% static 'inform_sys_selective_subjects/../../static/inform_sys_selective_subjects/css/registration.css' %}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        </head>
        <style>
            body {
                background: #0F8DC8;
            }
        </style>
        <body>
        <div class="container">
            <div class="row">

                <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal" method="post">
                        <span class="heading">Реєстрація</span>
                        {% csrf_token %}

                        <div class="form-group">
                            <input type="email" class="form-control" name="username" placeholder="Електронна пошта">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group help">
                            <input type="password" class="form-control" name="password1" placeholder="Пароль">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="form-group help">
                            <input type="password" class="form-control" name="password2" placeholder="Підтвердити пароль">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Далі</button>
                        </div>
                    </form>
                </div>

            </div><!-- /.row -->
        </div><!-- /.container -->
        </body>
        </html>
    {% endblock content %}