{% extends 'inform_sys_selective_subjects/base.html' %}
{% block title %}ІC “Вибіркові дисципліни”{% endblock title %}

{% block content %}
    <div class="container p-3 my-3 border">
        <div class="card">
        <div class="card-header">
            Назва факультета
        </div>
        <table class="table">
            <tbody>
            <tr>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
{% endblock content %}